<table class="styled<%= " #{style_class}" if style_class %>"<%= " id='#{id}_table'" if id %>>
<%= body -%>
  <%- if body.blank? || collection.try(:empty?) -%>
  <tr>
    <td class="empty">None</td>
  </tr>
  <%- end -%>
</table>
