@include blueprint;

$font-size-small: 0.75em;
$font-size: 0.8125em;
$font-size-big: 1em;
$font-size-bigger: 1.2em;
$font-size-biggest: 1.6em;

body {
  background-color: $blueprint-background-color;
  color: $font-color;
  font-family: "Lucida Grande", "Lucida Sans Unicode", FreeSans, Helvetica;  
  font-size: $font-size;
  line-height: 133%;
  margin-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

body nav a, body a, a {
  text-decoration: none;
}

body nav a:hover, body a:hover, a:hover {
  background-color: $highlight-color;
  color: $font-color;
  text-decoration: underline;
}

a.obvious {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

body nav, body footer {
  background-color: $nav;
  border-radius: 3px;
  font-size: $font-size-bigger;
  margin-top: 1.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.33em;
  vertical-align: center;
  text-align: right;
  whitespace: nowrap;
}

body footer {
  text-align: center;
}

body nav a, body footer a {
  border-left: 1px solid $background-color-light;
  border-right: 1px solid $background-color-light;
  color: $nav-font-color;
  padding-left: 1em;
  padding-right: 1em;
}

nav a:first-child, footer a:first-child, body nav h1 + a {
  border-left: none;
}

nav a:last-child, footer a:last-child {
  border-right: none;
}

body nav a:visited, body footer a:visited,
body nav a:link, body footer a:link {
  color: $nav-font-color;
}

nav h1 {
  float: left;
  font-size: $font-size-bigger;
}

nav h1 a {
  font-weight: bold;
}

.content {
  background-color: $content;
  border-radius: 6px;
  border: 1px solid $blueprint-border-color;
  margin-top: 1em;
  padding: 2em;
}

body h2, h2, h2 a {
  color: $header-color;
  font-size: $font-size-biggest;
  font-weight: bold;
  line-height: 133%;
  text-align: center;
}

h3 {
  color: $header-color;
  font-size: $font-size-bigger;
  font-weight: bold;
  line-height: 133%;
  margin-bottom: 0;
  padding-top: 1em;
  text-align: center;
}

.right {
  text-align: right;
}

th, td {
  padding-bottom: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.1em;
}

table.striped {
  background-color: $table;
  border-top: solid 2px $table-top;
  border-bottom: solid 2px $table-bottom;
  width: 100%;
}

table.striped th, table.striped td {
  padding: 0.4em;
}

table.striped th {
  background-color: $blueprint-table-header-backgound-color;
  color: $blueprint-table-header-color;
  font-weight: bold;
}

h3 + table.striped {
  margin-top: 0.4em;
}

.event_races {
  padding-top: 1em;
  text-align: center;
}

.event_races table {
  display: inline-table;
  width: auto;
}

.notes {
  padding-top: 1em;
}

.notes, .notes a, .updatedon {
  color: $font-color;
  text-align: center;
}

form input#event_city {
  width: 78%;
}

form input#event_state {
  width: 15%;
}

.place {
  text-align: right;
}

/* tabs */
.tabs {
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.33em;
  text-align: center;
  vertical-align: center;
  whitespace: nowrap;
}

.tabs a {
  border-left: 1px solid $background-color-light;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.tabs a:first-child {
  border-left: none;
}

/* calendar */
.calendar th {
  text-align: center;
} 

.calendar .day {
  height: 5em;
  border: 1px solid white;
  background: $blueprint-table-stripe-color;
  padding: 0.4em;
  vertical-align: top;
  width: 14%;
}

.calendar .day .number {
  font-weight: bold;
  text-align: right;
}

.calendar .day.other_month {
  background: $table;
}

.calendar .day.other_month .number {
  color: $nav;
  font-weight: normal;
  font-style: italic;
}

.calendar .event {
  font-size: $font-size-small;
  line-height: 1.5em;
}

.calendar .event {
  margin-bottom: 1em;
}

.person {
  @include blueprint-liquid-grid;
  @include clearfix;
}

.left_column {
  @include column(3);
}

.right_column {
  @include column(3, true);
}

.left_column_narrow, .middle_column_narrow {
  @include column(2);
}

.right_column_narrow {
  @include column(2, true);
}

.info_for_buttons {
  @include column(4);  
}

.buttons {
  @include column(2, true);
  text-align: right;
}

#person_city {
  width: 22%;
}

#person_state {
  width: 6%;
}

#person_zip {
  width: 12%;
}

.login .options p {
  margin-bottom: 0.4em;
}

.login .row.with_buttons {
  margin-top: 0.2em;
}

.login .buttons {
  @include column(3);
  text-align: right;
}

.home .portrait .photo {
  @include prepend(1);
  @include column(2);
}

.home .portrait .results {
  @include column(3, true);
}

.home .portrait .caption {
  @include column(3, true);
  color: gray;
}

.home .portrait .caption img {
  width: 80px;
}

.home .portrait .caption a {
  color: gray;
}

.home .news {
  @include column(6, true);
}

.home .photo {
/*  padding-right: 4px;*/
}

.home .photo img {
  width: 100%;
  border: 2px solid black;
}

.date {
  text-align: right;
  whitespace: nowrap;
}

@import "partials/grid";
@import "partials/forms";
