body {
  background-color: $background;
  color: $text;
  font-family: "Lucida Grande", "Lucida Sans Unicode", FreeSans;  
  font-size: $text-size;
  line-height: 133%;
  margin-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

body nav a, body a, a {
  color: $text;
  text-decoration: none;
}

body a:hover, a:hover {
  background-color: $highlight;
  color: $text;
  text-decoration: underline;
}

a.obvious {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

body nav, body footer {
  background-color: $nav;
  border-radius: 3px;
  font-size: $text-size-bigger;
  margin-top: 1.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.4em;
  vertical-align: center;
  text-align: right;
  whitespace: nowrap;
}

body footer {
  text-align: center;
}

body nav a, body footer a {
  border-right: 2px solid $background-light;
  color: $nav-text;
  padding-left: 1em;
  padding-right: 1em;
}

nav a:last-child, footer a:last-child {
  border-right: none;
}

nav h1 {
  float: left;
}

nav h1 a {
  font-weight: bold;
}

.content {
  background-color: $content;
  border-radius: 6px;
  border: 1px solid $content-border;
  margin-top: 1em;
  padding: 2em;
}

body h2, h2, h2 a {
  color: $header;
  font-size: $text-size-biggest;
  font-weight: bold;
  line-height: 133%;
  text-align: center;
}

h3 {
  color: $header;
  font-size: $text-size-bigger;
  font-weight: bold;
  line-height: 133%;
  padding-top: 2em;
  text-align: center;
}

.right {
  text-align: right;
}

th, td {
  padding-bottom: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.1em;
}

table.styled {
  background-color: $table;
  border-top: solid 2px $table-top;
  border-bottom: solid 2px $table-bottom;
  width: 100%;
}

table.styled th, table.styled td {
  padding: 0.4em;
}

table.styled th {
  background-color: $table-head;
  color: $table-head-text;
  font-weight: bold;
}

table.styled tr:nth-child(odd) {
  background-color: $table-odd-row;
}

h3 + table.styled {
  margin-top: 0.4em;
}

.event_races {
  padding-top: 1em;
  text-align: center;
}

.event_races table {
  display: inline-table;
}

.notes {
  padding-top: 1em;
}

.notes, .notes a, .updatedon {
  color: $text;
  text-align: center;
}

.place {
  text-align: right;
}

/* temp */
.span-2 {
  float: left;
  width: 33%;
}

.span-2 img {
  border: 2px solid black;
}