form {
  @include blueprint-inline-form;
  @include blueprint-form-sizes(67%);
  line-height: 16px;
}

label {
  color: $dark-gray;
  font-size: 1em;
  display: inline-block;
  line-height: 16px;
  margin-top: 7px;
  padding-right: 5px;
  padding-top: 5px;
  max-width: 30%;
  vertical-align: top;
  white-space: normal;
}

.text_field, .textarea {
  vertical-align: top;
  white-space: nowrap;
}

.text_field input, .textarea textarea {
  font-size: 1em;
  line-height: 16px;
  vertical-align: top;
}

.select .input, .text_field .input, .labelled_text .input, .textarea .input {
  display: inline-block;
  font-size: 1em;
  line-height: 16px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 7px;
  max-width: 67%;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: left;
  vertical-align: top;
  width: 67%;
}

.text_field .input, .textarea .input {
  margin-top: 0px;
  padding-top: 0px;
}

.select .input select {
  margin: 0 0;
}

.text, .text_field, .select, .password_field, .labelled_text, .textarea {
  text-align: right;  
}

.check_box {
  text-align: right;
}

.check_box label {
  font-weight: normal;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 10px;
  text-align: left;
  max-width: 67%;
  width: 67%;
}

.check_box input {
  margin-right: 5px;
}

.textarea .input {
  border: 1px solid #BBB;
  padding: 5px;
}

.textarea label {
  display: block;
  padding-right: 12px;
  text-align: left;
  max-width: 100%;
}
form .textarea textarea {
  height: 8em;
  width: 100%;  
}

.page_buttons {
  @include column(6, true);  
}

.row {
  @include clearfix;
} 

.row + .row {
  margin-top: 2em;
}

button, input[type="submit"] {
  background-color: $button-background-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from(adjust-lightness($button-background-color, 6)), to(adjust-lightness($button-background-color, -11)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, adjust-lightness($button-background-color, 6), adjust-lightness($button-background-color, -6));
  background-image: -moz-linear-gradient(top, adjust-lightness($button-background-color, 6), adjust-lightness($button-background-color, -6));
  background-image: -ms-linear-gradient(top, adjust-lightness($button-background-color, 6), adjust-lightness($button-background-color, -6));
  background-image: -o-linear-gradient(top, adjust-lightness($button-background-color, 6), adjust-lightness($button-background-color, -6));
  background-image: linear-gradient(top, adjust-lightness($button-background-color, 6), adjust-lightness($button-background-color, -6));
  border: 1px solid adjust-lightness($button-background-color, -17);
  border-bottom: 1px solid adjust-lightness($button-background-color, -20);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 adjust-lightness($button-background-color, -7);
  -moz-box-shadow: inset 0 1px 0 0 adjust-lightness($button-background-color, -7);
  -ms-box-shadow: inset 0 1px 0 0 adjust-lightness($button-background-color, -7);
  -o-box-shadow: inset 0 1px 0 0 adjust-lightness($button-background-color, -7);
  box-shadow: inset 0 1px 0 0 adjust-lightness($button-background-color, -7);
  color: $button-color;
  font: normal 1em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 0 -1px 0 adjust-lightness($button-background-color, -3);
  padding-bottom: 0.33em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
}

button:hover, input[type="submit"]:hover {
  background-color: $highlight-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from(adjust-lightness($highlight-color, 6)), to(adjust-lightness($highlight-color, -6)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, adjust-lightness($highlight-color, 6), adjust-lightness($highlight-color, -6));
  background-image: -moz-linear-gradient(top, adjust-lightness($highlight-color, 6), adjust-lightness($highlight-color, -6));
  background-image: -ms-linear-gradient(top, adjust-lightness($highlight-color, 6), adjust-lightness($highlight-color, -6));
  background-image: -o-linear-gradient(top, adjust-lightness($highlight-color, 6), adjust-lightness($highlight-color, -6));
  background-image: linear-gradient(top, adjust-lightness($highlight-color, 6), adjust-lightness($highlight-color, -6));
  border-top: 1px solid adjust-lightness($highlight-color, -20);
  border-left: 1px solid adjust-lightness($highlight-color, -22);
  border-bottom: 1px solid adjust-lightness($highlight-color, -25);
  border-right: 1px solid adjust-lightness($highlight-color, -22);
  -webkit-box-shadow: inset 0 1px 0 0 adjust-lightness($highlight-color, 13);
  -moz-box-shadow: inset 0 1px 0 0 adjust-lightness($highlight-color, 13);
  -ms-box-shadow: inset 0 1px 0 0 adjust-lightness($highlight-color, 13);
  -o-box-shadow: inset 0 1px 0 0 adjust-lightness($highlight-color, 13);
  box-shadow: inset 0 1px 0 0 adjust-lightness($highlight-color, 13);
  color: $font-color;
  text-shadow: 0 -1px 0 adjust-lightness($button-background-color, -20);
  cursor: pointer;
}

button:active, input[type="submit"]:active {
  border: 1px solid adjust-lightness($highlight-color, -20);
  border-bottom: 1px solid adjust-lightness($highlight-color, -25);
  -webkit-box-shadow: inset 0 0 8px 4px adjust-lightness($highlight-color, -25), 0 1px 0 0 adjust-lightness($highlight-color, 20);
  -moz-box-shadow: inset 0 0 8px 4px adjust-lightness($highlight-color, -25), 0 1px 0 0 adjust-lightness($highlight-color, 20);
  -ms-box-shadow: inset 0 0 8px 4px adjust-lightness($highlight-color, -25), 0 1px 0 0 adjust-lightness($highlight-color, 20);
  -o-box-shadow: inset 0 0 8px 4px adjust-lightness($highlight-color, -25), 0 1px 0 0 adjust-lightness($highlight-color, 20);
  box-shadow: inset 0 0 8px 4px adjust-lightness($highlight-color, -25), 0 1px 0 0 adjust-lightness($highlight-color, 20);
}

.info_for_buttons, .info_for_buttons a {
  color: $quiet-color;
  font-style: italic;
}
