/* line 4, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/partials/_base.scss */
body {
  background-color: white;
  color: #1e1e1e;
  font-family: "Lucida Grande", "Lucida Sans Unicode", FreeSans;
  font-size: 0.813em;
  line-height: 133%;
  margin-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 12, ../../app/stylesheets/partials/_base.scss */
body nav a, body a, a {
  color: #1e1e1e;
  text-decoration: none;
}

/* line 17, ../../app/stylesheets/partials/_base.scss */
body a:hover, a:hover {
  background-color: #d0fa30;
  color: #1e1e1e;
  text-decoration: underline;
}

/* line 23, ../../app/stylesheets/partials/_base.scss */
a.obvious {
  text-decoration: underline;
}

/* line 27, ../../app/stylesheets/partials/_base.scss */
.centered {
  text-align: center;
}

/* line 31, ../../app/stylesheets/partials/_base.scss */
body nav, body footer {
  background-color: #6d6d6d;
  border-radius: 3px;
  font-size: 1.2em;
  margin-top: 1.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.33em;
  vertical-align: center;
  text-align: right;
  whitespace: nowrap;
}

/* line 45, ../../app/stylesheets/partials/_base.scss */
body footer {
  text-align: center;
}

/* line 49, ../../app/stylesheets/partials/_base.scss */
body nav a, body footer a {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  color: #cbcbcb;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 57, ../../app/stylesheets/partials/_base.scss */
nav a:first-child, footer a:first-child, body nav h1 + a {
  border-left: none;
}

/* line 61, ../../app/stylesheets/partials/_base.scss */
nav a:last-child, footer a:last-child {
  border-right: none;
}

/* line 65, ../../app/stylesheets/partials/_base.scss */
nav h1 {
  float: left;
}

/* line 69, ../../app/stylesheets/partials/_base.scss */
nav h1 a {
  font-weight: bold;
}

/* line 73, ../../app/stylesheets/partials/_base.scss */
.content {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin-top: 1em;
  padding: 2em;
}

/* line 81, ../../app/stylesheets/partials/_base.scss */
body h2, h2, h2 a {
  color: #5a5a5a;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 133%;
  text-align: center;
}

/* line 89, ../../app/stylesheets/partials/_base.scss */
h3 {
  color: #5a5a5a;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 133%;
  padding-top: 2em;
  text-align: center;
}

/* line 98, ../../app/stylesheets/partials/_base.scss */
.right {
  text-align: right;
}

/* line 102, ../../app/stylesheets/partials/_base.scss */
th, td {
  padding-bottom: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.1em;
}

/* line 109, ../../app/stylesheets/partials/_base.scss */
table.styled {
  background-color: #fafafa;
  border-top: solid 2px #cccccc;
  border-bottom: solid 2px #cccccc;
  width: 100%;
}

/* line 116, ../../app/stylesheets/partials/_base.scss */
table.styled th, table.styled td {
  padding: 0.4em;
}

/* line 120, ../../app/stylesheets/partials/_base.scss */
table.styled th {
  background-color: #cbcbcb;
  color: #5a5a5a;
  font-weight: bold;
}

/* line 126, ../../app/stylesheets/partials/_base.scss */
table.styled tr:nth-child(odd) {
  background-color: #e6e6e6;
}

/* line 130, ../../app/stylesheets/partials/_base.scss */
h3 + table.styled {
  margin-top: 0.4em;
}

/* line 134, ../../app/stylesheets/partials/_base.scss */
.event_races {
  padding-top: 1em;
  text-align: center;
}

/* line 139, ../../app/stylesheets/partials/_base.scss */
.event_races table {
  display: inline-table;
}

/* line 143, ../../app/stylesheets/partials/_base.scss */
.notes {
  padding-top: 1em;
}

/* line 147, ../../app/stylesheets/partials/_base.scss */
.notes, .notes a, .updatedon {
  color: #1e1e1e;
  text-align: center;
}

/* line 152, ../../app/stylesheets/partials/_base.scss */
.place {
  text-align: right;
}

/* tabs */
/* line 157, ../../app/stylesheets/partials/_base.scss */
.tabs {
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.33em;
  text-align: center;
  vertical-align: center;
  whitespace: nowrap;
}

/* line 167, ../../app/stylesheets/partials/_base.scss */
.tabs a {
  border-left: 1px solid #bebebe;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

/* line 173, ../../app/stylesheets/partials/_base.scss */
.tabs a:first-child {
  border-left: none;
}

/* calendar */
/* line 178, ../../app/stylesheets/partials/_base.scss */
.calendar th {
  text-align: center;
}

/* line 182, ../../app/stylesheets/partials/_base.scss */
.calendar .day {
  height: 5em;
  border: 1px solid white;
  background: #e6e6e6;
  padding: 0.4em;
  vertical-align: top;
  width: 14%;
}

/* line 191, ../../app/stylesheets/partials/_base.scss */
.calendar .day .number {
  font-weight: bold;
}

/* line 195, ../../app/stylesheets/partials/_base.scss */
.calendar .day.other_month {
  background: #fafafa;
}

/* line 199, ../../app/stylesheets/partials/_base.scss */
.calendar .day.other_month .number {
  color: #6d6d6d;
  font-weight: normal;
  font-style: italic;
}

/* temp */
/* line 206, ../../app/stylesheets/partials/_base.scss */
.span-2 {
  float: left;
  width: 33%;
}

/* line 211, ../../app/stylesheets/partials/_base.scss */
.span-2 img {
  border: 2px solid black;
}
