/* line 4, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails_3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/partials/_base.scss */
body {
  background-color: #f0f0f0;
  color: black;
  font-family: "Lucida Grande", "Lucida Sans Unicode", FreeSans;
  line-height: 133%;
  margin-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 11, ../../app/stylesheets/partials/_base.scss */
body nav a, body a, a {
  color: black;
  text-decoration: none;
}

/* line 16, ../../app/stylesheets/partials/_base.scss */
body a:hover, a:hover {
  background-color: #ffde14;
  color: black;
  text-decoration: underline;
}

/* line 22, ../../app/stylesheets/partials/_base.scss */
a.obvious {
  text-decoration: underline;
}

/* line 26, ../../app/stylesheets/partials/_base.scss */
.centered {
  text-align: center;
}

/* line 30, ../../app/stylesheets/partials/_base.scss */
body nav, body footer {
  background-color: #1e1e1e;
  border-radius: 3px;
  margin-top: 1em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.4em;
  vertical-align: center;
  text-align: right;
  whitespace: nowrap;
}

/* line 43, ../../app/stylesheets/partials/_base.scss */
body footer {
  text-align: center;
}

/* line 47, ../../app/stylesheets/partials/_base.scss */
body nav a, body footer a {
  border-right: 2px solid #e0e0e0;
  color: #e0e0e0;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 55, ../../app/stylesheets/partials/_base.scss */
nav a:last-child, footer a:last-child {
  border-right: none;
}

/* line 59, ../../app/stylesheets/partials/_base.scss */
nav h1 {
  float: left;
}

/* line 63, ../../app/stylesheets/partials/_base.scss */
.content {
  background-color: white;
  border-radius: 3px;
  margin-top: 1em;
  padding: 1em;
}

/* line 70, ../../app/stylesheets/partials/_base.scss */
h1, nav h1 a {
  font-weight: bold;
  line-height: 133%;
}

/* line 75, ../../app/stylesheets/partials/_base.scss */
body h2, h2 {
  color: #999999;
  font-size: 2em;
  font-weight: bold;
  line-height: 133%;
  text-align: center;
}

/* line 83, ../../app/stylesheets/partials/_base.scss */
h3 {
  color: #999999;
  font-weight: bold;
  line-height: 133%;
  padding-top: 2em;
  text-align: center;
}

/* line 91, ../../app/stylesheets/partials/_base.scss */
.right {
  text-align: right;
}

/* line 95, ../../app/stylesheets/partials/_base.scss */
table.styled {
  background-color: #ffff99;
  border-bottom: solid 2px #ffde14;
  width: 100%;
}

/* line 101, ../../app/stylesheets/partials/_base.scss */
table.styled th {
  background-color: #ffde14;
  font-weight: bold;
}

/* line 106, ../../app/stylesheets/partials/_base.scss */
table.styled tr:nth-child(odd) {
  background-color: #ffffbd;
}

/* line 110, ../../app/stylesheets/partials/_base.scss */
th, td {
  padding: 0.4em;
}

/* line 114, ../../app/stylesheets/partials/_base.scss */
.event_races {
  padding-top: 1em;
  text-align: center;
}

/* line 119, ../../app/stylesheets/partials/_base.scss */
.event_races table {
  display: inline-table;
}

/* line 123, ../../app/stylesheets/partials/_base.scss */
.event_races td {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

/* line 128, ../../app/stylesheets/partials/_base.scss */
.notes {
  padding-top: 1em;
}

/* line 132, ../../app/stylesheets/partials/_base.scss */
.notes, .notes a, .updatedon {
  color: black;
  text-align: center;
}

/* line 137, ../../app/stylesheets/partials/_base.scss */
.place {
  text-align: right;
}

/* line 18, ../../app/stylesheets/obra.scss */
h1, nav h1 a {
  color: #ffde14;
}
