/* line 4, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/*$background: rgb(240, 240, 240);*/
/* line 1, ../../app/stylesheets/partials/_base.scss */
body {
  background-color: white;
  color: black;
  font-family: "Lucida Grande", "Lucida Sans Unicode", FreeSans;
  font-size: 0.813em;
  line-height: 133%;
  margin-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 12, ../../app/stylesheets/partials/_base.scss */
body nav a, body a, a {
  color: black;
  text-decoration: none;
}

/* line 17, ../../app/stylesheets/partials/_base.scss */
body a:hover, a:hover {
  background-color: #ffde14;
  color: black;
  text-decoration: underline;
}

/* line 23, ../../app/stylesheets/partials/_base.scss */
a.obvious {
  text-decoration: underline;
}

/* line 27, ../../app/stylesheets/partials/_base.scss */
.centered {
  text-align: center;
}

/* line 31, ../../app/stylesheets/partials/_base.scss */
body nav, body footer {
  background-color: #1e1e1e;
  border-radius: 3px;
  font-size: 1.2em;
  margin-top: 1.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.4em;
  vertical-align: center;
  text-align: right;
  whitespace: nowrap;
}

/* line 45, ../../app/stylesheets/partials/_base.scss */
body footer {
  text-align: center;
}

/* line 49, ../../app/stylesheets/partials/_base.scss */
body nav a, body footer a {
  border-right: 2px solid #e0e0e0;
  color: #e0e0e0;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 56, ../../app/stylesheets/partials/_base.scss */
nav a:last-child, footer a:last-child {
  border-right: none;
}

/* line 60, ../../app/stylesheets/partials/_base.scss */
nav h1 {
  float: left;
}

/* line 64, ../../app/stylesheets/partials/_base.scss */
nav h1 a {
  font-weight: bold;
}

/* line 68, ../../app/stylesheets/partials/_base.scss */
.content {
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  margin-top: 1em;
  padding: 2em;
}

/* line 76, ../../app/stylesheets/partials/_base.scss */
body h2, h2, h2 a {
  color: #999999;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 133%;
  text-align: center;
}

/* line 84, ../../app/stylesheets/partials/_base.scss */
h3 {
  color: #999999;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 133%;
  padding-top: 2em;
  text-align: center;
}

/* line 93, ../../app/stylesheets/partials/_base.scss */
.right {
  text-align: right;
}

/* line 97, ../../app/stylesheets/partials/_base.scss */
th, td {
  padding-bottom: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.1em;
}

/* line 104, ../../app/stylesheets/partials/_base.scss */
table.styled {
  background-color: #ffff99;
  border-top: solid 2px #ffde14;
  border-bottom: solid 2px #ffde14;
  width: 100%;
}

/* line 111, ../../app/stylesheets/partials/_base.scss */
table.styled th, table.styled td {
  padding: 0.4em;
}

/* line 115, ../../app/stylesheets/partials/_base.scss */
table.styled th {
  background-color: #ffde14;
  color: black;
  font-weight: bold;
}

/* line 121, ../../app/stylesheets/partials/_base.scss */
table.styled tr:nth-child(odd) {
  background-color: #ffffbd;
}

/* line 125, ../../app/stylesheets/partials/_base.scss */
h3 + table.styled {
  margin-top: 0.4em;
}

/* line 129, ../../app/stylesheets/partials/_base.scss */
.event_races {
  padding-top: 1em;
  text-align: center;
}

/* line 134, ../../app/stylesheets/partials/_base.scss */
.event_races table {
  display: inline-table;
}

/* line 138, ../../app/stylesheets/partials/_base.scss */
.notes {
  padding-top: 1em;
}

/* line 142, ../../app/stylesheets/partials/_base.scss */
.notes, .notes a, .updatedon {
  color: black;
  text-align: center;
}

/* line 147, ../../app/stylesheets/partials/_base.scss */
.place {
  text-align: right;
}

/* temp */
/* line 152, ../../app/stylesheets/partials/_base.scss */
.span-2 {
  float: left;
  width: 33%;
}

/* line 157, ../../app/stylesheets/partials/_base.scss */
.span-2 img {
  border: 2px solid black;
}

/* line 29, ../../app/stylesheets/obra.scss */
h1, nav h1 a {
  color: #ffde14;
}

/* line 33, ../../app/stylesheets/obra.scss */
.content {
  /*  border: 2px solid $content-border;*/
  border: none;
}
