<% if RacingAssociation.current.show_calendar_view? -%>
  <%= tabs do |tabs|
      tabs.add("Calendar", schedule_path)
      tabs.add("List <span class='hidden-phone'>with race organizer contact information</span>".html_safe, schedule_list_path)
  end -%>
<% end -%>
