<%= form_tag({}, { :method => "get", :id => "search_form", :class => "form-horizontal form-search" }) do %>
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <%= search_field_tag("name", @name, :class => "wants_focus search-query span12", :placeholder => placeholder) %>
    </div>
  </div>
<% end -%>
