@import "partials/variables";
@import "partials/imports";

$near-black: rgb(30, 30, 30);
$dark-gray: rgb(90, 90, 90);
$gray: rgb(109, 109, 109);
$light-gray: rgb(190, 190, 190);
$lighter-gray: rgb(204, 204, 204);
$lightest-gray: rgb(230, 230, 230);
$near-white: rgb(250, 250, 250);
$green-yellow: rgb(208, 250, 48);

$background-color-light: $light-gray;
$blueprint-background-color: white;
$blueprint-border-color: $lighter-gray;

$blueprint-table-header-backgound-color: $lighter-gray;
$blueprint-table-header-color: $font-color;
$blueprint-table-stripe-color: $lightest-gray;
$table-bottom: $lighter-gray;
$table-top: $lighter-gray;
$table: $near-white;

$content: $blueprint-background-color;
$font-color: $near-black;
$header-color: $dark-gray;

$highlight-color: $green-yellow;
$loud-color: black;
$quiet-color: $dark-gray;

$link-active-color: $font-color;
$link-color: $font-color;
$link-focus-color: $font-color;
$link-hover-color: $font-color;
$link-visited-color: $font-color;

$nav-font-color: $lighter-gray;
$nav: $gray;

@import "partials/base";
