@import "partials/variables";
@import "partials/imports";
@import "partials/defaults";

$light-gray: #E0E0E0;
$orange: rgb(255, 222, 20);

$blueprint-border-color: black;

$blueprint-table-header-backgound-color: $orange;
$blueprint-table-header-color: black;
$blueprint-table-stripe-color: #ffffbd;
$table-bottom: $orange;
$table-top: $orange;
$table: #ff9;

$font-color: $near-black;
$header-color: $dark-gray;

$highlight-color: $orange;
$loud-color: black;
$quiet-color: $dark-gray;

$link-active-color: $font-color;
$link-color: $font-color;
$link-focus-color: $font-color;
$link-hover-color: $font-color;
$link-visited-color: $font-color;

$nav-font-color: #e0e0e0;
$nav: rgb(30, 30, 30);

$button-background-color: $near-white;
$button-color: $font-color;

@import "partials/base";

.content {
  border: none;
}

h1, nav h1 a {
  color: $highlight-color;
}
