@import "blueprint/reset";

/*$background: rgb(240, 240, 240);*/
$background: white;
$background-light: #E0E0E0;
$content: #ffffff;
$content-border: black;
$header: #999999;
$highlight: rgb(255, 222, 20);
$nav: rgb(30, 30, 30);
$nav-text: #e0e0e0;
$content-outline: rgb(255, 222, 20);
$table: #ff9;
$table-head: rgb(255, 222, 20);
$table-head-text: black;
$table-odd-row: #ffffbd;
$table-top: rgb(255, 222, 20);
$table-bottom: rgb(255, 222, 20);
$text: black;

$text-size: 0.8125em;
$text-size-big: 1em;
$text-size-bigger: 1.2em;
$text-size-biggest: 1.6em;


@import "partials/base";

h1, nav h1 a {
  color: $highlight;
}

.content {
/*  border: 2px solid $content-border;*/
  border: none;
}
