
<div class="column_grid_container">
  <img src="http://www.obra.org/images/photos/jr_champs_2011.jpg" alt="" style="width: 100%;">
  <p>Newly-crowned Junior OBRA Champions show off their new jerseys after the Silverton Road Race. Photo courtesy of William Warburton.</p>

  <div class="span-3 top_margin">
    <%= render_page "home/recent_results" %>
  </div>
  <div class="span-3 last top_margin">
    <%= upcoming_events_table @upcoming_events %>
  </div>
</div>
