<% if @event.races_with_results.many? %>
  <div class="event_info">
    <div class="event_races">
      <div class="row-fluid">
        <div class="span6 race">
          <%- @event.races_with_results.sort[0, (@event.races_with_results.size / 2.0).round].each do |race| -%>
          <a href="#race_<%= race.id %>"><%= race.name %></a><br/>
          <%- end -%>
        </div>
        <div class="span6 race">
          <%- @event.races_with_results.sort[-(@event.races_with_results.size / 2), (@event.races_with_results.size / 2.0).round].each do |race| -%>
          <a href="#race_<%= race.id %>"><%= race.name %></a><br/>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>
<%- end -%>
