<% @page_title = "#{@person.name}: Events" %>
<% @show_tabs = (promoter? || administrator?) -%>

<div class="container-fluid">
  <div class="row-fluid span4">
    <%= table :caption => "Promoted Events", :columns => 2, :collection => @events do %>
      <tr>
        <th>Date</th>
        <th>Name</th>
      </tr>
      <%= render :partial => "event", :collection => @events.sort_by(&:date) %>
    <% end -%>
  </div>
</div>
