// *= require jquery-ui-1.8.2.custom
// *= require pages

$font-size-bigger: 16px;

$black: rgb(0, 0, 0);
$near-black: rgb(30, 30, 30);
$gray-darker: rgb(54, 54, 54);
$gray: rgb(153, 153, 153);
$mid-gray: rgb(204, 204, 204);
$grayLighter: rgb(238, 238, 238);
$grayLightest: rgb(250, 250, 250);
$warm-gray: rgb(228, 228, 224);
$warm-gray-light: rgb(250, 250, 248);
$green-yellow: rgb(208, 250, 48);
$orange: rgb(255, 85, 0);

$highlight-color: $orange;
$font-color-light: $gray;
$font-color: $gray-darker;
$form-color: $font-color;

$linkColor: $font-color;
$linkColorHover: $black;

$nav-background-color: white;
$nav-font-color: $gray;
$nav-heading-font-color: $orange;

$body-background-color: white;
$content-background-color: white;
$content-border-color: white;

$tableBorder: $gray;

@import "bootstrap";
@import "bootstrap-responsive";


body {
  background-color: $body-background-color;
  color: $font-color;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana;
  font-size: 12px;
  padding-top: $baseLineHeight;
}

.container-fluid {
  padding-left: 3%;
  padding-right: 3%;
}

body nav a:hover, body footer a:hover, body a:hover, a:hover, .nav > li > a:hover {
  background-color: $highlight-color;
  color: $font-color;
  text-decoration: underline;
  text-shadow: none;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  transition: all .1s linear;
}

a.obvious {
  text-decoration: underline;
}

.section {
  padding-top: 60px;
}

h2, h2 a, h2 a:hover {
  border-bottom: 1px solid $gray;
  color: $mid-gray;
  font-size: 95px;
  line-height: 95px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
}

h3, h3 a, h3 a:hover {
  color: $gray-darker;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
}

.page-nav, .footer {
  margin-bottom: $baseLineHeight;
  margin-left: auto;
}

nav, footer {
  background-color: $nav-background-color;
  border: none;
  vertical-align: center;
}

nav h1, footer h1 {
  line-height: $baseLineHeight * 1.5;
  margin: 0px;
  padding-left: 0px;
}

nav h1, nav h1 a, footer h1, footer h1 a {
  color: $nav-heading-font-color;
  font-size: $font-size-bigger;
}

nav a, footer a {
  color: $nav-font-color;
  font-size: $font-size-bigger;
}

nav ul, footer ul {
  line-height: $baseLineHeight * 1.5;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-top: 1px;
  text-align: right;
}

footer ul {
  text-align: center;
}

nav li, footer li {
  border-right: 1px solid $nav-font-color;
  display: inline;
  list-style-type: none;
  padding-left: $baseLineHeight / 2;
  padding-right: $baseLineHeight / 2;
}

nav li:last-child, footer li:last-child {
  border-right: 0px;
}

nav {
  border-bottom: 10px solid $gray-darker;
  padding-bottom: $baseLineHeight;
}

.content {
  background-color: $content-background-color;
  border: 0px;
  margin-bottom: $baseLineHeight;
  padding: 0px;
}

.event_info {
  text-align: center;
}

.event_races {
  text-align: center;
}

.event_races table {
  display: inline-table;
  text-align: left;
  width: auto;
}

.event_races td {
  padding-left: $baseLineHeight;
}

.actions {
  text-align: right;
}

table .actions a {
  padding-left: $baseLineHeight;
  padding-right: $baseLineHeight;
}

.table td {
  border-bottom: 1px dotted $tableBorder;
  border-top: none;
}

.table-striped tbody tr:first-child td {
  border-top: 1px dotted $tableBorder;
}

.table-striped tbody tr:last-child td {
  border-bottom: 1px solid $tableBorder;
}

.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) td:hover {
  background-color: none;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) td:hover {
  background-color: none;
}

th, .table-striped tbody tr:nth-child(odd) th {
  background-color: none;
  border-top: none;
  color: $near-black;
}

.table-striped.table th {
  font-weight: bold;
  padding-bottom: 3px;
  padding-top: 4px;
}

@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  nav ul {
    text-align: center;
  }

  .actions {
    padding-left: 314px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .actions {
    padding-left: 0px;
    text-align: left;
  }
}

.updatedon {
  border-bottom: none;
  color: $font-color-light;
  font-style: italic;
  text-align: center;
  white-space: nowrap;
}

.buttons .updatedon {
  text-align: left;
}

label {
  color: $gray;
  font-weight: bold;  
}

input[type="text"] {
  color: $form-color;  
}

.form-horizontal .check_boxes {
  margin-bottom: $baseLineHeight;
}

.form-horizontal .check_boxes .control-group {
  margin-bottom: 0px;
}

.table .date {
  max-width: 80px;
  text-align: right;
  width: 80px;
}

select {
  color: $font-color;
}

.form-horizontal .controls {
  margin-left: 150px;
}

.form-horizontal .control-group {
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .form-horizontal .controls {
    margin-left: 0;
  }
}

.labelled_text {
  padding-top: 5px;
}

input[type="search"].search_form {
  -webkit-appearance: searchfield;
  box-sizing: border-box;
}

td.numeric {
  text-align: right;
}

legend {
  font-size: 14px;
  font-weight: bold;
}

fieldset {
  padding-bottom: $baseLineHeight;
}

ul.nav, ul.page-links {
  margin-bottom: $baseLineHeight;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  width: auto
}

ul.nav li, ul.page-links li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 1px solid $mid-gray;
}

ul.nav li:first-child, ul.page-links li:first-child {
  border-left: none;
}

.nav > li > a {
  display: inline;
}
