@import "blueprint/reset";

$background: white;
$background-light: #BEBEBE;
$content: white;
$header: black;
$highlight: #0012DE;
$nav: black;
$nav-text: white;
$table: white;
$table-head: #C8C8C8;
$table-odd-row: #F0F0F0;
$table-bottom: #B4B4B4;
$text: black;

@import "partials/base";
